[submodule "src/3rdparty/glm"]
	path = src/3rdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/3rdparty/stb"]
	path = src/3rdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "src/3rdparty/spdlog"]
	path = src/3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
